// MENU / GALLERY
.gallery-hero{
  height: 400px;
  max-height: 100%;
  background: url('../assets/img/hero-bg.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
}
.menu-hero{
  height: 400px;
  max-height: 100%;
  background: url('../assets/img/hero-bg.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
}

.btn-link{
  color:$black-87;
  background: transparent;
  border:none;
  font-size:0.875rem;
  font-weight: 700;
}
.btn-link:hover {
  color:$black-60;
  text-decoration: none;
}

.filter-images img{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

