// _variables.scss
// Custom variables and bootstrap overriders
// Table of contents:
//  1.Colors
//  2.Buttons and hovers
//  3.Typography

// 1.Colors
$white: #fff;
$dark: #000;
// event caption heading
$dark-60: rgba(40, 40, 40, .60);
// $black-87 menu section and events card heading
$black-87: rgba(0, 0, 0, .87);
// $black-60 menu section and events card subheading
$black-60: rgba(0, 0, 0, .60);
$white-87: rgba(243, 243, 243, .87);
$white-60: rgba(243, 243, 243, .60);

// 2.Buttons and hovers
.btn {
    width: 10.625rem;
    height: 3rem;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    padding: 0;
    border-radius: 0;
    border-color: #fff;
}

.btn-dark {
    background-color: $dark;
    border: 2px solid $dark;

    &:hover {
        background-color: transparent;
        color: $dark;
        border: 2px solid $dark;
    }
}

.btn-primary {
    background-color: $white;
    color: $dark;
    border: 2px solid $white;
    
    &:hover {
        background-color: transparent;
        border: 2px solid $white;
    }
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid $white;

    &:hover {
        background-color: $white;
        color: $dark;
        border: 2px solid $white;
    }
}

// 3.Typography
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: $rfs-base-font-size;
}

h1 {
    @include font-size(6rem);
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.1rem;
}

h2 {
    @include font-size(3.75rem);
    color: $dark;
    font-weight: 500;
}
// wine banner
h3 {
    @include font-size(2.125rem);
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
    line-height: 1.5;

    strong {
        font-weight: 500;
        color: #fff;
    }
}

h4 {
    @include font-size(1.125rem);
    color: $black-87;
    font-weight: 700;
}

h5 {
    @include font-size(1rem);
    color: $black-60;
    font-weight: 400;
}

h6 {
    @include font-size(0.875rem);
    color: $dark-60;
    font-weight: 500;
}

p {
    @include font-size(1rem);
    font-weight: 400;
}
// event heading in event page
.event-title{
    color: $dark;
    font-weight: 500;
}
// events paragraph
.card-text {
    @include font-size(0.875rem);
    color: $black-87;
    font-weight: 400;
}

// event time and date text
.event-desc {
    @include font-size(1rem);
    font-weight: 400;
    color: $black-87;
}

// hero section paragraph
.heading-p {
    @include font-size(1.125rem);
    color: $white-87;
    font-weight: 400;
    line-height: 1.5;
}

.text-light {
    color: $white-87 !important;
}

// margin beetween heading and text
.mb-heading {
    margin-bottom: 2rem;
}

// margin between text and button
.mb-text {
    margin-bottom: 4rem;
}

.mtop-heading {
    margin-top: 5.3125rem;
}

.mbot-heading {
    margin-bottom: 5.3125rem;
}

// footer
.f-text{
    @include font-size(0.875rem);
    color: $white-60;
    line-height: 1.5;
}

// event card button
.card-btn{
    font-size: 0.75rem;
    font-weight: bold;
    color: $dark;
    &:hover{
        color:$black-60;
        text-decoration: none;
    }
}